.active {
  color: black;
}
.active .icon {
  color: #db3329;
}
.icon {
    margin-right: 8px;
    font-size: 13px;
}
.default {
  color: #dad2cc;
}
nav ul {
  list-style-type: none;
}
ul li {
    margin-top: 15px;
}
nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
}